/* CoursePage.css */

.course-header {
    text-align: center;
    padding: 20px;
    background-color: #f1f5f9;
  }
  
  .course-body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .course-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  
  .add-group-button {
    background-color: #00471b;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .add-group-button:hover {
    background-color: #003a17;
  }
  